<section class="profile-top-section">
  <div class="profile-top-section-content">
    <div class="profile-image">
      <% if @profile.image.attached? %>
        <%= cl_image_tag @profile.image.key, height: 150, crop: :fill %>
      <% else %>
        <img class="profile-pic-index" src="https://image.flaticon.com/icons/svg/206/206853.svg" alt="">
      <% end %>
    </div>
    <h2 class="profile-name"><%= @profile.first_name %> <%= @profile.last_name %></h2>
    <div class="info-container profile-additional-info">
      <% if @profile.user_name? %>
        <div>
          <p>Username</p>
          <h4><%= @profile.user_name %></h4>
        </div>
      <% end %>
      <% if @profile.age? %>
        <div>
          <p>Age</p>
          <h3><%= @profile.age %></h3>
        </div>
      <% end %>
    </div>
    <div class="edit-profile-button">
      <p><% if policy(@profile).edit? %><%= link_to "Edit my Profile", edit_user_registration_path(@profile), class: "btn-standard" %><% end %></p>
    </div>
    <div>
      <div class="social-media-container">
        <% if @profile.instagram?  %>
          <%= link_to @profile.instagram do %>
            <img src="https://image.flaticon.com/icons/svg/1409/1409946.svg">
          <% end %>
        <% end %>
        <% if @profile.linkedin? %>
          <%= link_to @profile.linkedin do %>
            <img src="https://image.flaticon.com/icons/svg/1409/1409945.svg">
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="profile-bio-section">
  <div class="profile-bio">
    <h3>About me</h3>
    <p><%= @profile.bio %></p>
  </div>

</section>



<section class="profile-events-section">
  <h2>My events</h2>
  <div class="profile-cards">
    <div class="row">
      <% @my_events.each do |event| %>
        <% tag = event.categories.map{|category| category.name}.join(" ") %>
          <div class="element-item col-lg-3 <%=tag%>">
            <div class="card card-index" style="width: 18rem;">
              <div class="card-body card-body-index">
                <% if event.photo.attached?  %>
                  <%= cl_image_tag event.photo.key, class: "card-img-index" %>
                <% else %>
                  <img class="card-img-index" src="https://source.unsplash.com/PGnqT0rXWLs" alt="">
                <% end %>
                <%= link_to "#{event.title}", event_path(event), class: "card-title title-index" %>


                <div class="cancel-edit-event">
                  <%= link_to "Edit Event", edit_event_path(event) %>
                  <br>


                  <%= link_to "Cancel",
                    event_path(event),
                    method: :delete,
                    data: { confirm: "Are you sure?" },
                    class: "cancel-event" %>
                </div>

                <p class="text-muted location-index"><small><%= event.location %></small></p>
                <div class="card-footer-index">
                  <hr style="width: 80%">
                  <div class="row">
                    <div class="col-6">
                      <div class="row">
                        <div class="col-6">
                          <div class="profile-pic-index">
                            <% if event.user.image.attached? %>
                              <%= cl_image_tag event.user.image.key, class: "profile-pic-index" %>
                            <% else %>
                              <img class="profile-pic-index" src="https://image.flaticon.com/icons/svg/206/206853.svg" alt="">
                            <% end %>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="user-name-index">
                            <p><%= event.user.first_name %>, <%= event.user.age %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <p class="card-text date-index text-muted"><small><%= event.event_date.strftime("%-d %B") %></small></p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
