<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%#= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%#= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>

    <%#= f.label :first_name, "First Name:" %>
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                placeholder: "First Name" %>
    <%= f.input :last_name,
                required: true,
                autofocus: true,
                placeholder: "Last Name" %>
    <%= f.input :user_name,
                autofocus: true,
                placeholder: "Username" %>
    <%= f.input :age,
                autofocus: true,
                placeholder: "Age" %>
    <%= f.input :bio,
                autofocus: true,
                placeholder: "Tell us something about you" %>
    <% if current_user.image.attached? %>
      <p>Current Image:</p>
      <%= cl_image_tag current_user.image.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <p>Currently no profile image<p>
    <% end %>
    <p>Upload local profile image</p>
    <%= f.file_field :image %>
    <%= f.input :instagram,
                autofocus: true,
                placeholder: "Instagram profile" %>
    <%= f.input :linkedin,
                autofocus: true,
                placeholder: "LinkedIn profile" %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" },
                placeholder: "Password" %>
  </div>

  <div class="form-actions">
    <%= f.button :button, "Update", class:"btn-standard" %>
  </div>
<% end %>

<%= link_to "Back", :back, class:"btn-standard" %>
