 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
 <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">

<h1 class="header-create">Create... Meet... Have fun!</h1>

<div class="create-form">
    <%= simple_form_for @event do |f| %>
        <%= f.text_field :title, placeholder: "Whats the name of your event?", class:"create-field-title" %>
        <br>
        <%= f.text_area :description, placeholder: "Say something about your event!", size: "60x12", class:"create-field-desc" %>
        <br>
        <%= f.text_field :location, id:"address-input", placeholder: "Where will your event take place?", type:"search", class:"create-field-location" %>
        <br>
        <%= f.text_field :event_date, id:"basicDate", placeholder:"When will your event take place?", class:"create-field-date" %>
        <%= f.input :image, as: :file, class:"create-field-image" %>
        <%= f.submit :submit, class:"create-field-submit btn-standard" %>
    <% end %>
</div>

