<header class="header-banner pt-9 pb-11 d-none d-md-block" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)), url(https://images.unsplash.com/photo-1519671482749-fd09be7ccebf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80) ">
  <div class="container-md">
    <div class="row align-items-center">
      <div class="col">

        <!-- Heading -->
        <h1 class="font-weight-bold text-white mb-2">
          Your Request Dashboard
        </h1>

        <!-- Text -->


      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</header>

<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>
  </div>
</div>



<main class="pb-8 pb-md-11 mt-md-n6">
  <div class="container-md">
    <div class="row justify-content-between">


      <div class="col-12 col-md-6">
        <div class="lcard card-bleed border-bottom border-bottom-md-0 shadow-light-lg">
          <div class="collapse d-md-block">
            <div class="lcard-body">
              <h2 class="text-muted">
                Attending
              </h2>
              <% @guest_event_requests.each do |request| %>
                <div class="lcard card-row shadow-light-lg mb-6">
                  <div class="no-gutters">
                    <!-- Header of request -->
                    <div class='d-flex' style="padding: 2rem 1.5rem 0;">
                      <a class="card-img-left" style="background-image: url(<%= cl_image_path request.event.photo.key %>); border-radius: 50%; width: 40px; height: 40px; display: block" href="#!">
                      </a>

                      <!-- Heading -->
                      <div style="width: 80%; margin-left: 1rem;">
                        <h3 class="text-bold" style="color: #39c6d9;">
                          <%= request.event.title %>
                        </h3>


                        <p><%= request.created_at.strftime('%A, %b %d') %></p>
                      </div>
                    </div>

                    <div class='request-bottom'>
                      <!-- Divider -->
                      <hr class="card-meta-divider" style="width: 100%; margin: 0 0 1.5rem;">
                      <div class="d-flex">
                        <% if request.event.user.image.attached? %>
                          <%= cl_image_tag request.event.user.image.key, class: "avatar avatar-sm mr-2" %>
                        <% end %>
                        <span class="text-muted mr-2">Hosted by</span>
                        <%= request.event.user.user_name %>
                      </div>
                      <% status = request.status == "pending" ? "orange" : "green" %>
                      <h6 class="text-uppercase mr-2 mb-0" style="color: <%= status %>">
                        <%= request.status %>
                      </h6>
                    </div>


                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="lcard card-bleed border-bottom border-bottom-md-0 shadow-light-lg">
          <div class="collapse d-md-block">
            <div class="lcard-body">
              <h2 class="text-muted">
                Hosting
              </h2>
              <% @host_events_requests.each do |requests| %>
              <% unless requests.empty?%>
                <div class="lcard card-row shadow-light-lg mb-6">
                  <div class="no-gutters">
                    <!-- Header of request -->
                    <div class='d-flex' style="padding: 2rem 1.5rem 0;">
                      <a class="card-img-left" style="background-image: url(<%= cl_image_path requests.first.event.photo.key %>); border-radius: 50%; width: 40px; height: 40px; display: block" href="#!">
                      </a>

                      <!-- Heading -->
                      <div style="width: 80%; margin-left: 1rem;">
                        <h3 class="text-bold" style="color: #39c6d9;">
                          <%= requests.first.event.title %>
                        </h3>


                        <p><%= requests.first.event.created_at.strftime('%A, %b %d') %></p>
                      </div>
                    </div>

                    <div class='request-bottom'>
                      <!-- Divider -->
                      <h6 class="text-muted"><%= pluralize(requests.size, 'request') %> </h6>
                      <hr class="card-meta-divider" style="width: 100%; margin: 0 0 1.5rem;">
                      <% requests.each do |request|  %>
                      <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
                        <div class="d-flex">
                          <% if request.event.user.image.attached? %>
                            <%= cl_image_tag request.event.user.image.key, class: "avatar avatar-sm mr-2" %>
                          <% end %>
                          <span class="text-muted mr-2">Request from</span>
                          <%= request.event.user.user_name %>
                        </div>
                        <% status = request.status == "pending" ? "orange" : "green" %>
                        <div class="d-flex align-items-center justify-content-between" style="width: 30%">
                        <% if status == "orange" %>
                          <%= link_to validate_request_path(id: request, value: "accepted"), method: :patch do %>
                            <i class="fas fa-check-circle"></i>
                          <% end %>

                          <%= link_to validate_request_path(id: request, value: "declined"), method: :patch do %>
                            <i class="fas fa-times-circle"></i>
                          <% end %>


                        <% elsif request.status == "declined" %>
                          <%= link_to validate_request_path(id: request, value: "accepted"), method: :patch do %>
                            <i class="fas fa-check-circle"></i>
                          <% end %>

                          <i class="fas fa-times-circle" style="color: var(--red);"></i>

                        <% else %>

                          <i class="fas fa-check-circle" style="color: #1edd88"></i>

                          <%= link_to validate_request_path(id: request, value: "declined"), method: :patch do %>
                            <i class="fas fa-times-circle"></i>
                          <% end %>
                        <% end %>
                        </div>
                      </div>
                      <% end %>
                    </div>

                  </div>
                </div>

              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
