<section class="banner-section bg-white">
  <div class="">

    <div class="d-flex flex-column align-items-center justify-content-center banner-homepage-left">
      <h2 class="mb-6 banner-header">New in town? Join or host activities to get to know new people. Match, meet & mingle!</h2>

      <div class="banner-search-bar">
        <div class="">
          <%= form_tag events_path, method: :get do %>
              <%= text_field_tag :query,
                  params[:query],
                  class: "form-control-search-index",
                  placeholder: "Type in a location (e.g. munich, berlin)"
              %>
              <%= submit_tag "Search", class: "btn-standard submit-btn-search" %>
          <% end %>
        </div>
      </div>
    </div>


  </div>
</section>

<section class="activities-section">
  <h2>Most requested activities nearby</h2>
  <div class="homepage-cards">
    <% @top_events.each do |event| %>
      <div class="col-lg-4">
        <div class="card card-index" style="width: 18rem;">
          <div class="card-body card-body-index">
            <% if event.image.attached?  %>
              <%= cl_image_tag event.image.key, class: "card-img-index" %>
            <% else %>
              <img class="card-img-index" src="https://source.unsplash.com/PGnqT0rXWLs" alt="">
            <% end %>
            <div class="row">
              <div class="col-4 user-name-index">
                <p><%= event.user.first_name %>, <%= event.user.age %></p>
              </div>
              <div class="col-4 profile-pic-index">
                <% if event.user.image.attached? %>
                  <%= cl_image_tag event.user.image.key, class: "profile-pic-index" %>
                <% else %>
                  <img class="profile-pic-index" src="https://source.unsplash.com/2LowviVHZ-E" alt="">
                <% end %>
              </div>
              <div class="col-4 user-social-icons">
                <% if event.user.instagram?  %>
                  <%= link_to "", event.user.instagram, class: "fab fa-instagram fa-lg" %>
                <% end %>
                <% if event.user.linkedin?  %>
                  <%= link_to "", event.user.linkedin, class: "fab fa-linkedin-in fa-lg" %>
                <% end %>
              </div>
            </div>
            <p class="card-title title-index"><%= event.title %></p>
            <p class="text-muted"><small><%= event.location %></small></p>
            <p class="card-text date-index text-muted"><small><%= event.event_date.strftime("%-d %B %Y, %-l:%M%p") %></small></p>
            <%= link_to "See more details", event_path(event), class: "btn-standard btn-index" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="reviews-section bg-white">
  <h2>What people say about <strong>CIRCL</strong></h2>
  <div class="review-card">
    <div class="review-card-items">
      <div class="review-card-author">
        <div class="d-flex d-flex-column justify-content-center">
          <img src="https://kitt.lewagon.com/placeholder/users/paul-wittchen" class="avatar-large" />
        </div>
        <div>
          <h3>Paul Wittchen, 26</h3>
          <div class="review-card-underline"></div>
        </div>
      </div>

      <div class="review-card-text">
        <p>“When I moved to Germany for a work project for a couple of weeks, it was hard to connect to a community. Circl really helped me finding people like me and gave us a chance to meet."</p>
      </div>
    </div>
    <div class="review-image" style="background-image: url('https://images.pexels.com/photos/696218/pexels-photo-696218.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')">
    </div>
  </div>

  <div class="review-card">
    <div class="review-image" style="background-image: url('https://images.pexels.com/photos/1036804/pexels-photo-1036804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')">

    </div>
    <div class="review-card-items">
      <div class="review-card-author">
        <div class="d-flex d-flex-column justify-content-center">
          <img src="https://avatars3.githubusercontent.com/u/66871244?s=460&u=f81cc2b5bb423a54f4bcfc2422bfc5f5aa2acef8&v=4" class="avatar-large" />
        </div>
        <div>
          <h3>Vincent Wittek, 20</h3>
          <div class="review-card-underline"></div>
        </div>
      </div>
      <div class="review-card-text">
        <p>“The first step, signing up and trying it out, is always the hardest. But for me and many others I know, joining Circl really improved how I spend my freetime."</p>
      </div>
    </div>

  </div>

  <div class="review-card">
    <div class="review-card-items">
      <div class="review-card-author">
        <div class="d-flex d-flex-column justify-content-center">
          <img src="https://ca.slack-edge.com/T02NE0241-UD0JHSHJB-9ffb88c541d4-512" class="avatar-large" />
        </div>
        <div>
          <h3>Dion Shahini, 40</h3>
          <div class="review-card-underline"></div>
        </div>
      </div>
      <div class="review-card-text">
        <p>“Thanks to Circl I dont sit around all weekend and watch netflix, I now know that there is always an awesome event that is happy to invite me, which is an awesome experience for everybody!</p>
      </div>
    </div>
    <div class="review-image" style="background-image: url('https://images.pexels.com/photos/1427741/pexels-photo-1427741.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')">
    </div>
  </div>
</section>

