<!DOCTYPE html>
<html>
  <head>
    <title>Circl | Meet. Match. Mingle.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="New Job? New City? CIRCL helps you, to find new friends who makes your new home to a lovely place!">
    <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div id="content">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
  <%# <script src=“https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js”></script> %>
</html>
